<%- include('partials/header') %>

<div class="login-box">
  <div class="container mt-3">
    <h2>Login</h2>
    <%- include ("./partials/messages") %>
    <form action="/users/login" method="POST">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          placeholder="Enter Email"
          value="<%= typeof email !='undefined'? email:''%>"
        />
      </div>
      <div class="form-group mt-3">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Enter Password"
          value="<%= typeof password !='undefined'? password:''%>"
        />
      </div>

      <button type="submit" class="btn btn-primary btn-block mt-3">
        Login
      </button>
    </form>
  </div>
</div>
<%- include('partials/footer') %>
